.modal{
    position: fixed;
    z-index:1 ;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(118, 234, 24);
}
.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid red;
    width: 80%;

}
.close-modal-icon{
    cursor: pointer;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
.header{
    padding: 4px, 16px;
    background-color: #5cb85c;
    color: white;
}

.body{
    padding: 2px, 15px;
}
.footer{
    padding: 4px, 16px;
    background-color: #5cb85c;
    color: white;
}

